<!-- <div class="modal-overlay"></div> -->
<div id="datos_actividad" class="modal-login" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="bi bi-x exit-card" onclick="document.querySelector('#datos_actividad').style.display = 'none'"></i>
            <div class="modal-header d-flex justify-content-center">
                <h4>Datos de actividad </h4>
            </div>
            <div class="col-md-12 p-3">
                <div class="scroll-modal mb-3">
                    <table class="table table-bordered text-body">
                        <thead align="center">
                            <tr>
                                <th>Actividad</th>
                                <th>Alumno</th>
                                <th>Días y horarios</th>
                                <th>Profe</th>
                            </tr>
                        </thead>
                        <tbody id="mostrar_datos_actividad">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>